.TerrenoEletricos,
.TerrenoFogo,
.TerrenoAgua {
  width: 600px;
  height: 160px;
  border: 5px solid black;
  margin: 40px;
}
.containerTerrenos {
  width: 600px;
  height: 495px;
  position: absolute;
  border: 3px solid blue;
  left: 200px;
}

.PvpChat {
  border: 4px solid rgb(0, 255, 145);
  position: relative;
  width: 600px;
  height: auto;
  left: 650px;
}

.PvpOpcoes {
  width: auto /* 130px */;
  height: auto;
  border: 3px solid black;
  position: absolute;
  top: 540px;
  right: 1366px;
}
.TerrenoEletricos {
  position: absolute;
  bottom: 500px;
  left: -48px;
  top: -39px;
}

.TerrenoFogo {
  position: absolute;
  top: 160px;
  left: -45px;
}

.TerrenoAgua {
  position: absolute;
  top: 360px;
  left: -45px;
}

.imgsFormat {
  width: 260px;
  position: relative;
  right: 170px;
  top: 5px;
}

#idEletricos {
}
#idFogo {
}
#idAgua {
}
.imgEstadio {
  width: 250px;
  height: 120px;
  position: absolute;
  right: 10px;
  top: 4px;
  border: 2px solid black;
  background-image: url(./imagens/estadio.png);
  background-size: 250px;
  background-position: center;
}
.BtnBattles {
  position: absolute;
  top: 166px;
  right: 410px;
}
.btnTn {
  position: absolute;
  left: 400px;
  top: 160px;
}

.divChPvp {
  width: 596px;
  height: 40px;
  border: 2px solid red;
  background-color: rgb(196, 189, 189);
  /* position: relative; */
  /* right: 516px; */
}
/* .divChPvpImgCrit{
    width: 20px;  
    height: 20px;          
    position: relative ;
    left: 290px;
    top: 65px;

} */
.divChPvpImgCrit {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 300px;
  padding: 18px 1px 1px 1px;
}

.divChPvpImgFirst {
  width: 35px;
  height: auto /* 35px */;
  position: absolute;
  left: 1px;
  padding: 0px 1px 1px 1px;
}
.divChPvpImgSecond {
  width: 37px;
  height: auto /* 35px */;
  position: absolute;
  left: 560px;
  padding: 0px 1px 1px 1px;
}

.divChPvpCritico {
  width: 596px;
  height: 40px;
  border: 2px solid red;
  background-color: rgb(255, 130, 21);
  /* position: absolute; */
}
#ChPvpWin {
  background-color: rgba(64, 192, 64, 0.929);
}
#ChPvpLoos {
  background-color: rgba(255, 0, 0, 0.996);
}
/* Conseguiu pokemon */
#NewPkm {
  background-color: rgb(47, 255, 0);
  width: 300px;
  height: 200px;
  position: relative;
}
#imgGotPkm {
  width: 90px;
  height: auto;
  position: absolute;
  top: 40px;
  right: 104px;
}

#lblPkmGot {
}

#chosePoke {
  width: 50px;
  position: relative;
  padding: 60px 1px 1px 1px;
}
/* Conseguiu pokemon */

.PvpOpcoesTipos {
  width: 170px;
  height: 210px;
  border: 3px solid black;
  position: absolute;
  top: 550px;
  /* padding: 1px 1px 1px 1px; */
}

.PvpOpcoesNpc {
  width: 170px;
  height: 210px;
  border: 3px solid black;
  position: absolute;
  top: 550px;
}

#BtnRematchform3{
  position: absolute;
  top: 104px;
  left: 32px;
}

.divChPvpImgFirstAttack {
  width: 40px;
  height: auto /* 35px */;
  position: absolute;
  left: 450px;
  padding: -1px 1px 1px 100px;
}

#BtnRematch {
  position: absolute;
  top: 100px;
  left: 16px;
}
#battlePokemonByTypes {
  position: absolute;
  left: 53px;
}

#chosePoketypes {
  position: relative;
  top: 50px;
}

#BtnRematchform2 {
  position: absolute;
  left: 30px;
}

/* Npc */
#NpcImgChat {
  /* background-color: rgb(47, 255, 0); */
  width: 600px;
  height: 200px;
  position: relative;
  right: 1px;
}
#imgGotNpc {
  width: 87px;
  height: auto;
  position: absolute;
  top: 0px;
  right: 427px;
}
#imgGotNpc2 {
  width: 170px;
  height: auto;
  position: absolute;
  top: 0px;
  right: 417px;
}
#imgGotPkmOfNpc {
  width: 140px;
  height: auto;
  position: absolute;
  top: 17px;
  left: 427px;
}



#lblNpcSay {
  position: relative;
  top: 181px;
}
/* front of battle */
#imgfrontBattle{
  width: 60px;
  height: auto;
  position: relative;
  right: center;

}
#imgfrontBattleF{
  width: 130px;
  height: auto;
  position: relative;
  right: center;
  top: -4px;

}
#imgfrontBattleA{
  width: 130px;
  height: auto;
  position: relative;
  right: center;
  top: -4px;

}
#imgfrontBattlePokemonE{
  width: 74px;
  height: auto;
  position: absolute;
  right: 160px;
  top: 43px;
  background-color: rgba(255, 255, 255, 0.268);
}

#imgfrontBattlePokemonA{
  width: 80px;
  height: auto;
  position: absolute;
  right: 160px;
  top: 37px;
  background-color: rgba(255, 255, 255, 0.268);

}

#imgfrontBattlePokemonF{
  width: 80px;
  height: auto;
  position: absolute;
  right: 160px;
  top: 43px;
  background-color: rgba(255, 255, 255, 0.268);
}
#UpdatePokemonNpcE{
  position: absolute;
  top: 138px;
  right: 68px;
  
}
#UpdatePokemonNpcA{
  position: absolute;
  top: 138px;
  right: 68px;
  
}
#UpdatePokemonNpcF{
  position: absolute;
  top: 138px;
  right: 68px;
  
}

#chosePokeNpc{
  position: absolute;
  left:60px;
  top: 150px
}

/* Barra de rolagem */
.conteudo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card{
  background-color: #f1f1f1;
  min-width: 250px;
  margin: 10px;
  height: 200px;
  text-align: center;
}